<%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { id: "sign-up" }, remote: true, format: :json, method: :post do |sign_up| %>
  <h4 class="structural">Sign Up</h4>

  <% if resource.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <span><%= resource.errors.to_a.to_sentence %></span>
    </div>
  <% end %>

  <%= sign_up.label :name, nil, for: 'sign-up-name' %>
  <%= sign_up.text_field :name, id: 'sign-up-name', placeholder: 'John/Jane Doe' %>

  <%= sign_up.label :username, nil, for: 'sign-up-username' %>
  <%= sign_up.text_field :username, id: 'sign-up-username', placeholder: 'johndoe123' %>
  <span class="help-block"><small>(Only numbers, letters, underscores and dashes, please.)</small></span>

  <%= sign_up.label :email, nil, for: 'sign-up-email' %>
  <%= sign_up.text_field :email, id: 'sign-up-email', placeholder: 'you@youremail.com' %>

  <%= sign_up.label :password, nil, for: 'sign-up-password' %>
  <%= sign_up.password_field :password, id: 'sign-up-password' %>

  <%= sign_up.label :password_confirmation, 'Confirm Password', for: 'sign-up-password-confirmation'  %>
  <%= sign_up.password_field :password_confirmation, id: 'sign-up-password-confirmation' %>

  <span class="checkbox">
    <%= sign_up.check_box :mailing_list, checked: true %>
    <%= sign_up.label :mailing_list, 'Put me on the mailing list!' %>
  </span>

  <%= text_field_tag 'comment_body', nil, id: 'sign-up-comment', class: 'honeypot', placeholder: 'Do not fill this in.' %>

  <p>
    <%= fa_icon 'circle-o-notch', class: 'fa-spin loader' %>
    <%= sign_up.submit 'Sign Up', id: 'btn-sign-up' %> <a href="#cancel" class="cancel">Cancel</a>
  </p>
<% end %>