<% title "A Crowd-sourced Airstream Adventure" %>
<% meta_description "Vote on where our roadtrip takes us next." %>

<% content_for :scripts do %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true&amp;libraries=places"></script>
<% end %>

<% if @current && @post %>
  <div id="home-content">
    <%= content_tag :div, nil, id: 'home-map-object', data: {
          'current-latitude' => @current.lat,
          'current-longitude' => @current.long,
          'current-city' => @current.city,
          'current-state' => @current.state.abbr } %>

    <div id="blog-excerpt" style="background-image:url(<%= @post.cover %>)">
      <div>
        <h3>
          On The Blog:<br><%= @post.title %><br>
          <small><%= @post.subtitle %></small>
        </h3>

        <p class="post-meta"><%= @post.published_date %> by <%= @post.author %></p>
      </div>

      <p><%= link_to raw('Read the Blog &raquo;'), blog_path, class: 'read-more' %></p>
    </div>
  </div>
<% end %>

<div id="instagrams"></div>
