<%= form_for 'user', html: { id: 'sign-in' }, url: user_session_path, remote: true, format: :json do |sign_in| %>
  <h4 class="structural">Sign In</h4>

  <p class="social-sign-in">
    <%= link_to omniauth_authorize_path(:user, 'facebook'), class: 'facebook' do %>
      <%= icon 'facebook-square', class: 'fa-fw fa-lg' %> Sign in with Facebook
    <% end %>
    <br>
    <%= link_to omniauth_authorize_path(:user, 'twitter'), class: 'twitter' do %>
      <%= icon 'twitter', class: 'fa-fw fa-lg' %> Sign in with Twitter
    <% end %>
    <br>
    <small>&mdash; OR &mdash;</small>
  </p>

  <%= render 'shared/alerts' %>

  <%= sign_in.label :email %>
  <%= sign_in.text_field :email, placeholder: 'you@youremail.com' %>

  <%= label_tag :password do %>
    Password <small>(<%= link_to "Forgot it?", new_user_password_path %>)</small>
  <% end %>
  <%= sign_in.password_field :password %>

  <p>
    <%= icon 'circle-o-notch', class: 'fa-spin loader' %>
    <%= sign_in.submit 'Sign In', id: 'btn-sign-in', class: 'btn btn-primary' %> <a href="#cancel" class="cancel">Cancel</a>
  </p>
<% end %>
