<div class="row">
  <h2 class="structural">
    Editing 
    <small>
      <i><%= @post.title %></i>, written on <%= @post.created_at.strftime('%D') %>
      <%= link_to post_path(@post), method: :delete, class: 'post-delete', data: { confirm: "Are you sure you want to delete this post? Really?" }  do %>
        <%= fa_icon 'trash-o' %> Delete
      <% end %>
    </small></h2>

  <%= render 'form', post: @post %>
</div>