{{#each experiences}}
  <div class="suggestion" data-experience-id="{{slug}}" data-location-id="{{locationId}}" data-user-id="{{username}}">
    <h4>
      <div class="map-pin {{#if done}}map-pin-done{{/if}}">
        <span>{{votes}}</span>
      </div>
      &lsquo;{{name}}&rsquo;
      <small>at {{venue}} in {{city}}, {{state}}</small>
    </h4>
  
    <p class="why"><strong>Why:</strong> {{description}}</p>
  
    <p class="meta">Suggested by <a href="/map/ambassadors/{{username}}" class="map-user-link">{{userShortName}}</a> on {{date}}</p>
  
    <p class="voting">
      {{#if done}}
        <strong>We did this!</strong><br>
        <button href="#" class="done" disabled="disabled"><i class="fa fa-check-circle fa-lg"></i> Done!</button>
        <span class="votes">{{votesText}}</span>
      {{else}}
        <strong>Should we do this?</strong><br>
        <button data-id="{{slug}}" class="upvote" {{#if upvoted}}disabled="disabled"{{/if}}><i class="fa fa-thumbs-up fa-lg"></i></button>
        <span class="votes">{{votesText}}</span>
        <button data-id="{{slug}}" class="downvote" {{#if downvoted}}disabled="disabled"{{/if}}><i class="fa fa-thumbs-down fa-lg"></i></button>
      {{/if}}
    </p>
  </div>
{{/each}}